@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

body {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 500px;
  min-width: 375px;
  box-shadow:
    0 0 0 2px #fff,
    0.3em 0.3em 1em #0000004d;
}

.div_title,
.div_placeholder {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c3c3c5;
  padding: 8px 15px;
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
}

.main__title {
  color: #545862;
  font-size: 18px;
  margin: 0;
}

.sync_image,
.submit_image {
  width: 18px;
  height: 19px;
  align-self: center;
}

.div_placeholder input {
  border: none;
}

.div_placeholder input:focus {
  outline: none;
  font-family: 'Open Sans', serif;
}

.div_placeholder input::placeholder {
  font-size: 17px;
  font-style: italic;
}

.div_placeholder input:focus::placeholder {
  color: transparent;
}

.list__element {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #c3c3c5;
}

.list__element img {
  width: 18px;
  height: 19px;
  align-self: center;
  margin-left: 15px;
}

.individual__task {
  font-style: normal;
  color: #545862;
  font-family: 'Open Sans', serif;
  padding-left: 10px;
  font-size: 17px;
}

.clear_all {
  display: flex;
  justify-content: center;
}

.clear_all h2 {
  font-size: 18px;
  text-decoration: underline;
}
